footer {
  text-align: center;

  form {
    width: $base-line-height * 2;
    margin: 0 0 $base-line-height 0;
    input {
      width: 100%;
    }
  }

  ul {
    text-align: center;

    > li {
      margin: 0 $base-line-height;
      display: inline;

      > a {
        font-size: 12pt;
        color: $accent-color;
        display: inline-block;
        white-space: nowrap;
        text-decoration: none;
      }
    }
  }
}