footer {
  text-align: center;
  padding: $base-line-height 0;
  ul {
    text-align: center;
    li {
      display: inline;
      margin: 0 $base-line-height / 2;
      a {
        font-size: 12pt;
        color: $accent-color;
        display: inline-block;
        white-space: nowrap;
        text-decoration: none;
        display: inline;
      }
      address {
        display: inline;
      }
    }
  }
}