nav {
  .wrapper {
    padding: $base-line-height 0;
    text-align: center;
    form {
      height: $base-line-height * 3;
      .button-input {
        padding: $base-line-height / 2;
        height: 100%;
      }
    }
  }
}