#reason {
  .wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    form {
      .reason {
        min-width: $base-line-height * 10;
        height: $base-line-height * 3;
        padding: $base-line-height;
        margin-bottom: $base-line-height;
      }
    }
  }
}