mixin editable-table(tableItems, )
  table#editable-table
      thead
        th Name
        th Description
        th
          img.add-editable-row(src="/media/add.svg" alt="Add Row")
      each row in tableItems
        tr
          td(contenteditable="true") row.name
          td(contenteditable="true") row.description
          td
            img.remove-editable-row(src="/media/remove.svg" alt="Remove Row")
  button.button#save-editable-table-button(type="button") Save