mixin editable-table(tableCaption, tableItems)
  table.editable-table
      caption.editable-caption= tableCaption
      thead.editable-head
        th.th Name
        th.th Description
        th.editable-add
          img(src="/media/add.svg" alt="Add Row")
      tbody
        each row in tableItems
          tr.editable-row
            td.editable-td(contenteditable="true")= row.name
            td.editable-td(contenteditable="true")= row.description
            td.editable-remove
              img(src="/media/remove.svg" alt="Remove Row")
  button.button.editable-table-save-button(type="button") Save