mixin editable-table(tableId, tableCaption, tableItems)
  table.editable-table(id=tableId)
    caption.caption= tableCaption
    thead.thead
      th.th Name
      th.th Description
      th.th.add.td
        img(src="/media/add-dark.svg" alt="Add Row")
    tbody
      each row in tableItems
        tr.tr
          td.td(contenteditable="true")= row.name
          td.td(contenteditable="true")= row.description
          td.remove.td
            img(src="/media/remove-dark.svg" alt="Remove Row")
      tr.tr.clone
        td.td(contenteditable="true")
        td.td(contenteditable="true")
        td.remove.td
          img(src="/media/remove-dark.svg" alt="Remove Row")
    tfoot
      tr
        td.td
        td.td
          p.information
        td.save.td
          button.button(type="button") Save