#table.table-editable
  .table-add.glyphicon.glyphicon-plus
  table.table
    thead
      th Name
      th Description
      th
        img(src="/media/add.svg" alt="Add Row")
    tr
      td(contenteditable="true") Stir Fry
      td(contenteditable="true") stir-fry
      td
        img(src="/media/remove.svg" alt="Remove Row")