mixin editable-table(tableCaption, tableItems)
  table.editable-table
    caption.caption= tableCaption
    thead.thead
      th.th Name
      th.th Description
      th.add.td
        img(src="/media/add-dark.svg" alt="Add Row")
    tbody
      each row in tableItems
        tr.tr
          td.td(contenteditable="true")= row.name
          td.td(contenteditable="true")= row.description
          td.remove.td
            img(src="/media/remove-dark.svg" alt="Remove Row")
    tfoot
      tr
        td.td
        td.td
        td.save.td
          button.button(type="button") Save