extends head

block content
  body#admin
    main
      article
        include header
        +header(title, "Administrative controls.")
        include keypad
        +keypad('dashboard', 'post', 'Please enter the Administrative Pin #:')
        include footer
        +footer
