mixin footer()
  footer
    form(action="/", method="post")
      input.button-input(type="image" src="/media/back.svg" alt="Restart")
    ul
      li
        a(href="/admin") Admin
      li
        a#mailto(href="") Contact