extends head

block content
  body#index
    main
      article
        include header
        +header(title, "Welcome to the Tutoring Center")
        include keypad
        +keypad('/reason', 'post', error ? 'An invalid CSU student ID was entered, please try again:' : 'Please enter your CSU Student ID to log in:')
        include footer
        +footer