extends head

include baseline.pug
include header.pug
include keypad.pug
include footer.pug

block content
  body#index
    +baseline
    main
      +header(title, "Welcome to the Tutoring Center")
      section#keypad
        +keypad('/reason', 'post', error ? 'An invalid CSU student ID was entered, please try again:' : 'Please enter your CSU Student ID to log in:')
      +footer