extends head

include baseline.pug
include header.pug
include footer.pug

block content
  body#reason
    +baseline
    main
      +header("Student # " + studentID)
      if error
        p.p Invalid reason provided. Please try again.
      else
        p.p Please select the reason for your visit today.
      section
        form(action="/reason/peer", method="post")
          input.button-input.reason(type="submit", name="reason", value="Tutoring")
        form(action="/reason/peer", method="post")
          input.button-input.reason(type="submit", name="reason", value="Mentoring")
        form(action="/reason/peer/confirm", method="post")
          input.button-input.reason(type="submit", name="reason", value="Printing")
      +footer