extends head

block content
  body#peers
    main
      article
        include header
        +header("Student # " + studentID, error ? "Invalid " + peerType + " provided. Please try again" : "Please select your " + peerType + ".", error)
        section.peers
          form(action="/reason/peer/confirm", method="post")
            table
              - if (peerType == "tutor")
                thead
                  tr
                    th Tutor Name
                    th Courses
                  tbody
                    - each tutor in peers
                      tr
                        td
                          input.button.trans(id= tutor.name, type="submit" name="peer" value= tutor.name)
                        td
                          label(for= tutor.name)= tutor.courses
              - else
                thead
                  tr
                    th Mentor Name
                  tbody
                    - each mentor in peers
                      tr
                        td
                          input.button.trans(id= mentor.name, type="submit" name="peer" value= mentor.name)
        include footer
        +footer
