// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: 'Open Sans', sans-serif;
$base-font-weight: $regular;
$base-letter-spacing: 0;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;

// Headings
$heading-font-family: 'Open Sans', $base-font-family;
$heading-font-weight: $bold;

// The base times power of the ratio. e.g. 1rem * 1.618 = 1.618rem
$base-font-size: 1rem;
$ratio: 1.333;
// 1.618 - The golden ratio.
//4   4.236 * 1.618 = 6.854
//3   2.618 * 1.618 = 4.236
//2   1.618 * 1.618 = 2.618
//1   1.000 * 1.618 = 1.618
//0   0.000 * 1.618 = 1
//-1  1.000 / 1.618 = 0.618
//-2   0.618 / 1.618 = 0.382
//-3   0.382 / 1.618 = 0.236
//-4   0.236 / 1.618 = 0.146
@function type-scale($base, $ratio, $level) {
  $scale: $base;
  @if($level < 0) {
    $scale: $base / $ratio;
    @while($level < -1) {
      $scale: $scale / $ratio;
      $level: $level + 1;
    }
  } @else {
    @if($level > 0) {
      $scale: $base * $ratio;
      @while($level > 1) {
        $scale: $scale * $ratio;
        $level: $level - 1;
      }
    }
  }
  @return $scale;
}

// The distance between baselines is known as line height or leading.
// Because we want the line height to be consistent regardless of font size,
// we’ll be using unit values to ensure this.
$base-line-height: $base-font-size * 1.25;
$fixed-line-height: $base-line-height;

$type-settings: (
  -1: (
    font-size: 0.618rem,
    line-height: $base-line-height
  ),
  0: (
    font-size: 1rem,
    line-height: $base-line-height
  ),
  1: (
    font-size: 1.618rem,
    line-height: $base-line-height * 2
  ),
  2: (
    font-size: 2.618rem,
    line-height: $base-line-height * 2
  )
);

@function line-height($base-line-height, $font-size) {
  $i: 1;
  $line-height: $base-line-height;
  @while($line-height < $font-size) {
    $line-height: $base-line-height * $i;
    $i: $i + 1;
  }
  @return $line-height;
}

@mixin type-setting($level) {
  $font-size: type-scale($base-font-size, $ratio, $level);
  font-size: $font-size;
  line-height: line-height($base-line-height, $font-size);
}

body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  letter-spacing: $base-letter-spacing;
  @include type-setting(0);
}

.h1 {
  font-family: 'Montserrat', sans-serif;
  @include type-setting(2);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.h2 {
  @include type-setting(1);
  font-weight: $regular;
}

.h3 {
  @include type-setting(0);
  font-weight: $regular;
}

.p, .label {
  @include type-setting(-1);
}