#keypad {
  $button-rows: 4;
  $button-cols: 3;

  > label {
    margin: auto;
  }

  > form {
    width: 75%;
    margin: auto;
  }

  .display {
    width: 100%;
    text-align: left;
    margin: auto;
    padding-left: 5px;
    min-height: #{$line-height + .1 + "em"};
  }

  .keys {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
  }

  $width: 33;
  $height: 6%;
  .button {
    width: #{$width + '%'};
    padding: calc(35% / 4);
    font-size: 10pt;
  }

  $button-margin: ((100 - $width * $button-cols) / 2) + '%';
  $button-count: $button-rows * $button-cols;
  @for $i from 0 to $button-count {
    $row: floor($i / $button-cols);
    $col: floor($i - $row * $button-cols);
    .kp_#{$i} {
      @if $col == 0 {
        margin-right: #{$button-margin};
      } @else {
        @if $col == $button-cols - 1 {
          margin-left: #{$button-margin};
        }
      }
      margin-top: #{$button-margin};
    }
  }
}