#reason {
  section {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    > form {
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      .reason {
        width: 100%;
        padding: calc(50% / 4);
        margin: 10px;
      }
    }
  }
}