$button-display: inline-block;
$button-font-size: $base-font-size;
$button-font-weight: normal;
$button-padding: 0;
$button-text-transform: capitalize;
$button-border-radius: $border-radius;

%button-base {
  display: $button-display;
  padding: $button-padding;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  text-transform: $button-text-transform;
  border-radius: $button-border-radius;
}

@mixin button-theme(
  $color: null,
  $border: null,
  $background: null,
  $box-shadow: null) {

  color: $color;
  border: $border;
  background: $background;
  box-shadow: $box-shadow;

}

@mixin border-button(
  $text-color: null,
  $background-color: null,
  $text-color-hover: null,
  $background-color-hover: null) {

  @include button-theme(
      $color: $text-color,
      $border: $text-color,
      $background: $background-color
  );

  &:hover {
    @include button-theme(
        $color: $text-color-hover,
        $border: $text-color,
        $background: $background-color-hover
    );
  }

}

@mixin solid-button(
  $text-color: null,
  $background-color: null,
  $text-color-hover: null,
  $background-color-hover: null,
  $box-shadow: null) {

  @include button-theme(
      $color: $text-color,
      $border: none,
      $background: $background-color,
      $box-shadow: $box-shadow
  );

  &:hover {
    @include button-theme(
        $color: $text-color-hover,
        $border: none,
        $background: $background-color-hover
    );
  }
}

.button {
  @extend %button-base;
  @include solid-button(
      $text-color: $text-color-light,
      $background-color: $primary-color,
      $text-color-hover: $text-color-light,
      $background-color-hover: $secondary-color,
      $box-shadow: $box-shadow
  );
  @include type-setting(0);
}