.editable-table {
  width: 100%;
  text-align: left;
  border: 1px solid #ccc;
  margin-bottom: $base-line-height;

  .editable-row:nth-child(odd) {
    background-color: #f1f1f1;
  }

  .editable-head, .editable-row {
    border-bottom: 1px solid #ddd;
  }

  .th, .editable-td {
    vertical-align: middle;
    padding-left: $base-line-height;
  }

  .editable-caption {
    text-align: inherit;
  }

  .editable-add, .editable-remove {
    cursor: pointer;
  }
}

.editable-table-save-button {
  padding: $base-line-height / 2 $base-line-height;
  margin-bottom: $base-line-height;
  @include type-setting(0);
}