.editable-table {
  width: 100%;
  text-align: left;
  border: 1px solid $table-border-color;
  margin-bottom: $base-line-height;

  .caption, .th {
    font-weight: $bold;
    text-align: inherit;
  }

  .caption {
    margin-bottom: $base-line-height;
  }

  .tr:nth-child(odd) {
    background-color: $table-background-color;
  }

  .th, .tr {
    border-bottom: 1px solid $table-border-color;
  }

  .th:not(:last-child), .td:not(:last-child) {
    border-right: 1px solid $table-border-color;
  }

  .th, .td {
    vertical-align: middle;
    padding: $base-line-height / 2;
  }

  .add, .remove {
    cursor: pointer;
  }

  .add, .remove, .save {
    text-align: center;
  }

  .clone {
    display: none !important;
  }

  .save {
    .button {
      padding: $base-line-height / 2 $base-line-height;
    }
  }
}