@mixin keypad-form($rows, $cols, $margin) {
  form {
    $key-width: 100 / $cols - $margin;
    width: 100%;

    .label {
      display: block;
    }

    .text-input {
      width: 100%;
      display: block;
      text-align: left;
      padding-left: 5px;
    }

    .keys {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    }

    .button-input {
      text-align: center;
      width: #{$key-width + "%"};
      padding: calc(35% / 4);
    }

    $key-margin: ((100 - $key-width * $cols) / 2) + '%';
    $key-count: $rows * $cols;
    @for $i from 0 to $key-count {
      $row: floor($i / $cols);
      $col: floor($i - $row * $cols);
      .kp_#{$i} {
        @if $col == 0 {
          margin-right: #{$key-margin};
        } @else {
          @if $col == $cols - 1 {
            margin-left: #{$key-margin};
          }
        }
        margin-top: #{$key-margin};
      }
    }
  }
}