$button-padding: 0;
$button-text-transform: capitalize;
$name-item-color: $text-color-light;
$name-item-background-color: $tertiary-color;
$name-item-border: none;
$name-item-box-shadow: $box-shadow;
$name-item-border-radius: $border-radius;

.name-submit-list {
  .name-li {
    margin-bottom: $base-line-height;
    color: $name-item-color;
    background: $primary-gradient;
    border: $name-item-border;
    border-radius: $name-item-border-radius;
    box-shadow: $name-item-box-shadow;
  }

  .name-list-figure {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: $base-line-height / 2;
  }

  .name-list-portrait {
    margin-right: $base-line-height / 2;
    height: 100%;
    > img {
      text-align: center;
      // TODO vertically-center alt text.
      height: 100%;
    }
  }

  .name-list-description {
    width: 50%;
  }

  .name-list-select {
    height: 75%;
    margin-right: $base-line-height / 2;
    padding: $base-line-height / 2 $base-line-height;
  }
}

@mixin name-submit-list-item-dimensions($min-height) {
  .name-list-figure {
    min-height: $min-height;
  }
}