$button-padding: 0;
$button-text-transform: capitalize;
$name-item-color: $primary-color;
$name-item-background-color: $secondary-color;

.name-li {
  margin-bottom: $base-line-height;
  color: $name-item-color;
  background-color: $name-item-background-color;
}

.name-list-figure {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.name-list-portrait {
  margin-right: $base-line-height / 2;
  height: 100%;
  > img {
    text-align: center;
    // TODO vertically-center alt text.
    height: 100%;
  }
}

.name-list-description {
  width: 50%;
}

.name-list-select {
  height: 75%;
}

@mixin name-submit-list-item-dimensions($height) {
  .name-list-figure {
    height: $height;
  }
}