footer {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;

  > form {
    margin: 0 0 15px 0;
    > input {
      width: 60px;
      padding: 10px;
    }
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;

    > li {
      margin: 5px;
      display: inline;

      > a {
        font-size: 12pt;
        color: $accent-color;
        display: inline-block;
        white-space: nowrap;
        text-decoration: none;
      }
    }
  }
}