$fg-color: #FFF;
$bg-color: #323B40;
$accent-color: #FF6A46;

.keys {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 17.5%;
}

.screen, .key {
  color: $fg-color;
  background-color: $bg-color;
}

.screen {
  height: 5%;
}

.key {
  width: 25%;
  margin: 5px;
  padding: 10% 0;
  border: solid 1px $accent-color;
  cursor: pointer;
}