html, body, div, span,
h1, h2, h3, h4, p,
a, img, ul, li, label,
figure, header, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}