extends ../layout/layout

include ../components/keypad-form.pug

block header
  header.admin-header
    .wrapper
      h1.h1=title
      h2.h2 Administrative controls. Be careful in here!
block section
  section#admin
    .wrapper
      unless ERROR
        +keypad-form('/admin/dashboard', 'post', 'Please enter the Administrative Pin #:')
      else
        +keypad-form('/admin/dashboard', 'post', 'An invalid pin was entered, please try again:')