extends ../layout/layout.jade

include ../components/keypad-form.pug

- h2 = "Administrative controls."

append main
  article#admin
    +keypad('dashboard', 'post', 'Please enter the Administrative Pin #:')