extends ../layout/layout.jade

include ../components/editable-table.pug

block header
  header.dashboard-header
    .wrapper
      h1.h1=title
      h2.h2 Administrative Dashboard.
block section
  section#dashboard
    .wrapper
      +editable-table("tutors-table", "Tutors", tutorsCols, tutors, "/admin/dashboard/tutors", "GET")
      +editable-table("mentors-table", "Mentors", mentorsCols, mentors, "/admin/dashboard/mentors", "GET")
      +editable-table("students-table", "Students", studentsCols, students, "/admin/dashboard/students", "GET")