extends ../layout/layout.jade

include ../components/keypad-form.pug

block header
  header
    h1.h1=title
    h2.h2= "Welcome to the Tutoring Center."
block section
  section#index
    .wrapper
      unless ERROR
        +keypad-form('/reason', 'post', 'Please enter your CSU Student ID to log in:')
      else
        +keypad-form('/reason', 'post', 'An invalid CSU student ID was entered, please try again:')