extends ../layout/layout.jade

include ../components/name-submit-list-item.pug

block header
  header
    h1.h1="Student # " + studentID
      unless ERROR
        h3.h3 Please select your #{peerType}.
      else
        h3.h3.error-text Invalid #{peerType} provided. Please try again.
block section
  section#peers
    .wrapper
      ul
        form(action="/reason/peers/confirm", method="post")
          each peer in peers
            +name-submit-list-item("/media/account-dark.svg", peer.name, peer.description, "peer")