extends ../layout/layout

block header
  header
    h1.h1="Student # " + studentID
    unless ERROR
      h2.h2 Please select the reason for your visit today.
    else
      h2.h2 Invalid reason provided. Please try again.
block section
  section#reason
    .wrapper
      form(action="/reason/peers", method="post")
        input.button-input.reason(type="submit", name="reason", value="Tutoring")
      form(action="/reason/peers", method="post")
        input.button-input.reason(type="submit", name="reason", value="Mentoring")
      form(action="/reason/peers/confirm", method="post")
        input.button-input.reason(type="submit", name="reason", value="Printing")