extends head

block content
  body#admin
    main
      article
        section#title
          h1= title
          h2 Welcome to the Tutoring Center
        include keypad
        +keypad('', 'post', 'Please enter your Admin Pin:')