extends layout

block content
  main
    article
      section#title
        h1= title
        h2 Welcome to the Tutoring Center
      - var instructions = 'Please enter your Admin Pin:'
      include keypad