doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans|Montserrat', type='text/css')
    link(rel='stylesheet', href='/stylesheets/index.min.css', type='text/css')
  body
    block content
