extends head

block content
  body#reason
    main
      article
        include header
        +header("Student # " + studentID, error ? "Invalid reason provided. Please try again" : "Please select the reason for your visit today.", error)
        section
          form(action="/reason/peer", method="post")
            input.themed.reason(type="submit", name="reason", value="Tutoring")
          form(action="/reason/peer", method="post")
            input.themed.reason(type="submit", name="reason", value="Mentoring")
          form(action="/reason/peer/confirm", method="post")
            input.themed.reason(type="submit", name="reason", value="Printing")
        include footer
        +footer